/* Write your code here */

.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: Roboto;
  color: #ffffff;
  font-size: 40px;
  font-weight: 800;
}

.name {
  font-family: Roboto;
  color: #ffffff;
  font-size: 20px;
}

.company-name {
  font-family: Roboto;
  color: #171f46;
  font-size: 16px;
}

.company-description {
  font-family: Roboto;
  color: #171f46;
  font-size: 16px;
}

.name-container {
  display: flex;
  justify-content: space-between;
}

.left-arrow {
  height: 30px;
  background-size: cover;
  margin-right: 50px;
}

.right-arrow {
  height: 30px;
  background-size: cover;
  margin-left: 50px;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: transparent;
  border-width: 0;
}
